NODE_ENV=development
PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_NAME=wallet_db
DB_USERNAME=wallet_user
DB_PASSWORD=wallet_pass
DB_ROOT_PASSWORD=rootpass

JWT_SECRET=super_secret_change_this
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=another_secret_change_this
JWT_REFRESH_EXPIRES_IN=1d
